{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-curly-spacing":"off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
