$primary-color: #66BFBF;

@font-face {
  font-family: 'Roboto';
  src:
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src:
    url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto-Bold.ttf')  format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  color: #868689;
}

ul,li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #666;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input[type="text"], input[type="password"], input[type="email"] {
  background: #fff;
  box-shadow: none;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  outline: none;
  transition: all 0.3s;

  &:focus {
    border: 1px solid #999;
  }
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.primary-btn {
  background: $primary-color;
  color: #fff;

  &:hover {
    background: lighten($primary-color, 5%);
  }
}

.secondary-btn {
  border: 1px solid #868689;
  color: #868689;
  background: none;
}

// Navbar

.main-nav {
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #cdcdcd;

  @media screen and (min-width: 480px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.right-list {
      justify-content: flex-end;
      width: 50%;

      li {
        margin-left: 15px;
      }
    }

    &.logo-container {
      justify-content: flex-start;

      @media screen and(min-width: 480px) {
        justify-content: center;
      }
    }

    &.left-list {
      justify-content: flex-start;
      display: none;

      @media screen and(min-width: 480px) {
        display: flex;
      }

      li {
        margin-right: 15px;
      }
    }

    .primary-btn {
      padding: 6px 15px;
    }
  }

  &__link {
    &.sign-up-btn {
      display: inline-block;

      @media screen and (min-width: 480px) {
        display: none;
      }
    }

    &.user-name {
      display: flex;
      align-items: center;

      .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
      }

      .user-title {
        display: none;

        @media screen and (min-width: 480px) {
          display: inline-block;
        }
      }
    }
  }
}

// Layout

.main-layout {
  display: flex;
  width: 100%;
  padding-top: 60px;
  min-height: 100vh;
}

.main-sidebar {
  background: #fff;
  display: none;
  flex: 0 0 250px;
  padding: 30px 15px;
  // border-right: 1px solid #cdcdcd;
  box-shadow: 6px 13px 20px 6px #bcdada33;
  position: relative;

  &__boards {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__list-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    color: #666;
    font-weight: bold;
    font-size: 14px;
  }

  &__title {
    color: #868689;
  }

  .list-item-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 15px;
  }

  .new-board-btn {
    width: 100%;
    height: 40px;
  }

  @media screen and (min-width: 480px) {
    display: block;
  }
}

.main-content {
  background: #f0f0f0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 30px 15px;
}

// Sidebar
