.one-fourth {
  display: flex;
  flex: 1 1 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and(min-width: 768px) {
    flex: 0 1 25%;
  }
}

.board-component {
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  padding: 10px;
  min-height: 80px;
  border-left: 4px solid #66BFBF;
  box-shadow: 0 0 20px 6px #bcdada33;

  &__title {
    color: #868689;
    font-size: 16px;
  }
}

.boards-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
